

.center{
  margin: auto;
  width: 100%;
  color:rgb(70, 70, 70);
  text-align: center;
 

}
#mainDashboard {
   visibility: hidden;
}

#mainDashboard .card{
  margin: auto;
  margin-bottom: 1%;
  min-height: 20px;
  padding: 2%;
  overflow: hidden;
  
}
#mainDashboard .card h4{
  
  background: rgb(255, 255, 255)
  
}
#nodeSelector{
  background: #029ddd;
}
